<h1>All events</h1>

<div class="row">
  {{#each events}}
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card h-100" style="background-color: #000;">
        {{#if this.img.length}}
          <img src="{{this.img}}" class="card-img-top" alt="Event Image" style="object-fit: cover; height: 200px;">
        {{/if}}
        <div class="card-body" style="color: #fff;">
          <h5 class="card-title" style="color: #fff;">{{this.name}}</h5>
          <a href="/events/view/{{this._id}}" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
  {{/each}}
</div> 