{{#if isAuthenticated}}
<nav class="navbar navbar-expand-lg navbar-custom d-flex p-2">
  <a class="navbar-brand" href="/">
    <img src="/images/star-net-18-6-2024.png" width="70" height="30" alt="Icon">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav me-auto"> <!-- This will place the 'Create events' on the right side -->
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events/create">Create events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Event list</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto"> <!-- This will place the 'Profile' dropdown toggle on the right side -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Profile
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/users/profile">Profile details</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/auth/logout">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{{/if}}