<h1>{{appTitle}} 🚀</h1>
<p>STAR-NET</p>

<a class="btn btn-primary" href="auth/signup">Sign Up</a>
<a class="btn btn-primary" href="auth/login">Log In</a>
<a class="btn btn-danger" href="auth/logout">Log Out</a>
<a class="btn btn-primary" href="users/profile">Profile</a>