/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

body {
  background-color: black;
  color: white;
}


  .custom-file-input {
    display: none;
  }
  
  .btn-purple {
    background-color: #6a1b9a; 
    border-color: #6a1b9a;
  }
  
  .btn-purple:hover {
    background-color: #8e24aa; 
    border-color: #8e24aa;
  }
  
  .rounded-pill {
    border-radius: 50rem; 
  }

